@font-face {
  font-family: 'FjallaOne';
  src: url('fonts/FjallaOne.ttf') format('truetype');
}

.background-video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.background-video-wrapper video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.copy {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 10vmax 4rem;
  color: #fff;
  font-family: 'FjallaOne-Regular';
  text-align: center;
}


/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #4280C0;
  height: 60px; /* Increase this value for more height if needed */
  font-family: 'FjallaOne-Regular';
}

/* Style the topnav links */
.topnav a {
  font-family: 'FjallaOne-Regular';
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px; /* Adjust the padding to increase spacing */
  text-decoration: none;
  font-size: 30px; /* Increase font size for better readability */
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #000000;
}

.Services, .ServicesTXT, .JoinUs, .JoinUsTXT, .OurWork {
  text-align: center;
  font-family: 'FjallaOne-Regular';
}