@font-face {
  font-family: 'FjallaOne-Regular';
  src: url('fonts/FjallaOne-Regular') format('truetype');
}

@media (max-width: 768px) {
  /* Styles for screens with a maximum width of 768px (e.g., mobile) */
  #top-video {
    height: auto; /* Adjust height for responsive video */
    padding-top: 40px; /* Add some top padding to center content */
  }
  
  .rain-text {
    font-size: 2rem;
    top: 10%; /* Adjust vertical positioning */
  }
  
  .content {
    padding: 1em; /* Adjust padding for mobile */
    bottom: initial; /* Reset bottom positioning */
    top: calc(100% - 50px); /* Adjust vertical positioning */
  }
  
  /* Style adjustments for top navigation bar */
  .topnav {
    height: 50px; /* Reduce height for mobile devices */
  }
  
  .topnav a {
    padding: 10px 5px; /* Reduce padding for better spacing */
    font-size: 20px; /* Reduce font size for better readability */
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  margin:0;
  padding :0;
  font-family: "FjallaOne-Regular", sans-serif;
}

.rain {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

#top-video{
  left: 0%;
  top: 0%;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: -1;
  
  &::before {
    content:"";
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index:1;
    background:linear-gradient(to right, rgba(blue,0.3), rgba(red,0.25));
  }
      
  .rain-text{
    position : absolute;
    z-index : 3;
    color: #fff;
    left: 50%;
    top: 30%;
    transform:translate(-50%, -50%);  
    width : 100%; 
    font-size : 0;
    letter-spacing : 1.2em;
    text-shadow : 3px 3px 4px rgba(0, 0, 0, 0.5);
    text-align : center;
    opacity : 0;
  }  
  
  .content {
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, black, transparent);
    color: #fff;
    width: 100%;
    padding: 2em 3em;
    z-index : 3;
  }
}

/* navbar regular css start */
.navbar-area {
  background: rgba(0,0,0,.6);
  border-bottom: 1px solid #000;
}
.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a.site-logo {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar ul li a {
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.site-navbar ul li a:hover {
  background: rgba(255,255,255,.1);
}
/* navbar regular css end */


/* nav-toggler css start */
.nav-toggler {
  border: 3px solid #fff;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span, 
.nav-toggler span:before, 
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: .3s;
}
.nav-toggler span:before {
  content: '';
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: '';
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}
/* nav-toggler css start */
/* mobile breakpoint start */
@media screen and (max-width: 767px) {
  .container {
    max-width: 720px;
  }
  /* navbar css for mobile start */
  .nav-toggler{
    display: block;
  }
  .site-navbar {
    min-height: 60px;
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #444;
    background-color: rgba(0,0,0,.75);
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 25px;
  }
  .site-navbar ul li a:hover {
    background-color: rgba(255,255,255,.1);
  }
  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }
  .intro-area h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }  
  /* navbar css for mobile end */
}
/* mobile breakpoint end */


.Services, .ServicesTXT, .JoinUs, .JoinUsTXT, .OurWork {
  text-align: center;
  font-family: 'FjallaOne-Regular';
}